<% page_title("Green Grades") %>
<h3 class ="page_title">Green Steps</h3>
<span class="page_title_menu">
  <%= link_to 'New step', new_gcertstep_path, :class => "action_link" %>
</span>

<%= render "gcertsteps_index" %>