/* 
    Document   : custom
    Created on : Feb 2, 2010, 9:53:49 AM
    Author     : amishra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#loading_inner {
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/images/ajax-loader.gif) no-repeat center transparent;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    /*border:1px solid #666;*/
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

body {
    background-color:#3F3F3F;
}
/* Header */


.header a {
    text-decoration: none;
    color:#8F8F8F;
}

.header > a:active {
    color:yellow;
}

.header a:hover {
    color:white;
}

.header_links li {
    display: inline;
}

.header_links_div {
    background-color: #27292A;
    text-align: right;
}

.header_txt {
    padding-top: 50px;
    padding-left : 10px;
    font-size: 350%;
    color:white;
}

.header_logo_div {
    background-color: #27292A;
    border-bottom: 2px solid #D20D85;
}

.header_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}

.login_links_div {
    background-color:#27292A;
    text-align: right;
}

.login_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;

}

.login_links li {
    display: inline;
    padding-left: 5px;
}

.main_links {
    display: inline;
    white-space: nowrap;
    padding-left: 5px;
    line-height:3.5;
}
.main_links li {
    display: inline;
    padding-right:15px;

}
.main_links_div {
    background-color: #1F2122;
}

.content_container {
    background-color: white;
}

.content {
    background-color: white;
    margin-right: 0;
    border-right: 1px solid;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.innertube{
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 5px;
}



.right_nav {
    background-color: white;
    padding-right:10px;
}
.right_nav_links li {
    display: inline;
}
.right_nav_links {
    display: inline;
    white-space: nowrap;
}
.left_nav {
    background-color: purple;
}
.left_nav_links li {
    display: inline;
}
.let_nav_links {
    display: inline;
    white-space: nowrap;
}
.left_links li {
    display: inline;
}



.footer_div {
    background-color: #27292A;
}

.footer_links_div {
    padding-top:40px;
    padding-bottom:20px;
}

.footer_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;

}

.footer_links li {
    display: inline;
    padding-left: 10px;
}

.footer a {
    text-decoration: none;
    color:#8F8F8F;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: inline;
}

.notice {
    float: left;
    background-color: #aa2626;
    font-weight: bold;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

/** Fix for event_date label**/
#event_event_date_input  legend {
    color:#222222;
    font-size: 1em;
}

/** Search Form */
.search_div {
    padding-top: .75em;
    padding-bottom: .5em;
    border-bottom: 2px solid  #27292A;
}
.query_div {
    border-bottom: 1px dotted;
    border-bottom-color: #aea2a2;
    padding-top: 1em;
    padding-bottom: .5em;
}

div.filter_div {
    padding-top: 20px;
    padding-right : 10px;
}
select {
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size:1em;
    line-height:16px;
    padding:0;
    margin:0;
}

.search_list {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    padding-left:0px;
}

.search_list li {
    display: inline;
    padding-left: 5px;
}



/* form elements */
.btn {
    background-color:#1F2122;
    border:medium none;
    color:white;
    font:12px Arial,sans-serif;
    padding:4px 17px;
    display:block;
}

table {
    vertical-align: middle;
    text-align: center;
}
table.tbl_index_table th, td {
    text-align: center;
    vertical-align: middle;
    border:solid 1px black;
}
table.tbl_index_table tr.tr_even_index_table {
    background-color: #e08f59;
}

table.tbl_index_table tr.tr_odd_index_table {
    background-color: white;
}

table.tbl_index_table th {
    background-color: #63583C;
    color:white;
}

table.tbl_index_table {
    border: solid 1px;
    width:90%;
    border-collapse:collapse;
}

select {
    background-image: url("/images/input_b.png");
    background-position:top;
    background-repeat: repeat-x;
    background-color: #ffffff;
    border: solid 1px #33677F;
    font-size:1em;
    font-family: helvetica;
}
select:focus {
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}
.inputArea:focus {
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

.inputArea 
{
    background-image: url("/images/input_b.png");
    background-position:top;
    background-repeat: repeat-x;
    background-color: #ffffff;
    border: solid 1px #33677F;
    font-size:1em;
    font-family: helvetica;
}

.btnSearch {
    /*background-image: url("/images/header_b.png");*/
    /*background-repeat: repeat-x;*/
    color:white;
    font-weight: bold;
    background-color: #ff3366;
}

#attachment_list #pending_files{ 
    list-style:none;padding:0;
}
#attachment_list li { 
    padding:0 0 0.5em 21px;background:url('/images/attachment.png') no-repeat 0 2px;
}
#attachment_list li #remove { 
    margin-left:1em;
}

/*links*/
a.title_link {
    color:#e58610;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
a.title_link:hover {
    color:#f3af5c;
}
a.action_link {
    text-decoration: none;
    color: #22d1e6;
    font-weight: bold;
}
a.action_link:hover {
    color: #7ddeea;
}
/* Events */
.event {
    padding:5px;
    border-bottom: 1px dotted #8b848f;
}

.blk {
    display:block;
}
p.listing_description:first-letter {
    color:red;
    font:1.5em;
}
.presentation_section {
    border:1px solid black;
    margin:5px;
}
.presentation_label {
    font-weight:bold;
    display:block;
    margin : 2px;
}
.presentation_label_header {
    font-weight:bold;
    display:block;
    background-color: #C2C9CF;
    padding: 3px;
}

.presentation_section_body {
    background-color: red;
}
.presentation_list {
    list-style-type: none;
    background-color: #EFEFEF;
}

.presentation_list  > li {
    margin:2px;
}
