/* 
    Document   : custom
    Created on : Feb 2, 2010, 9:53:49 AM
    Author     : amishra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#loading_inner {
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/images/ajax-loader.gif) no-repeat center transparent;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    /*border:1px solid #666;*/
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

body {
    background-color:#3F3F3F;
}

body a.action_link {
    text-decoration: none;
    color: #22d1e6;
    font-weight: bold;
}
body a.action_link:hover {
    color: #7ddeea;
}
body a.title_link {
    color:#e58610;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
body a.title_link:hover {
    color:#f3af5c;
}
body a.norm_link {
    color:#e58610;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
body a.norm_link:hover {
    color:#f3af5c;
}


/* Header */


.header a {
    text-decoration: none;
    color:#8F8F8F;
}

.header > a:active {
    color:yellow;
}

.header a:hover {
    color:white;
}

.header_links li {
    display: inline;
}

.header_links_div {
    background-color: #27292A;
    text-align: right;
}

.header_txt {
    padding-top: 50px;
    padding-left : 10px;
    font-size: 350%;
    color:white;
}

.header_logo_div {
    background-color: #27292A;
    border-bottom: 2px solid #D20D85;
}

.header_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}

.login_links_div {
    background-color:#27292A;
    text-align: right;
}

.login_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;

}

.login_links li {
    display: inline;
    padding-left: 5px;
}

.main_links {
    display: inline;
    white-space: nowrap;
    padding-left: 5px;
    line-height:3.5;
}
.main_links li {
    display: inline;
    padding-right:15px;

}
.main_links_div {
    background-color: #1F2122;
}

.content_container {
    background-color: white;
}

.content {
    background-color: white;
    margin-right: 0;
    border-right: 1px solid;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.innertube{
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 5px;
}



.right_nav {
    background-color: white;
    padding-right:10px;
}
.right_nav_links li {
    display: inline;
}
.right_nav_links {
    display: inline;
    white-space: nowrap;
}
.left_nav {
    background-color: purple;
}
.left_nav_links li {
    display: inline;
}
.let_nav_links {
    display: inline;
    white-space: nowrap;
}
.left_links li {
    display: inline;
}



.footer_div {
    background-color: #27292A;
}

.footer_links_div {
    padding-top:40px;
    padding-bottom:20px;
}

.footer_links {
    display: inline;
    white-space: nowrap;
    overflow: hidden;

}

.footer_links li {
    display: inline;
    padding-left: 10px;
}

.footer a {
    text-decoration: none;
    color:#8F8F8F;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: inline;
}


/** Fix for event_date label**/
.form_label {
    color:	#222222;
    font-size:1em;
}
#event_categories_input legend {
    color:#222222;
    font-size: 1em;
}
#event_event_date_input  legend {
    color:#222222;
    font-size: 1em;
}

/**Certification **/
.acc_h_on {
    background-color:#676c43;
    font-style: italic;
}
.acc_h_off {
    background-color:#7A8054;
    font-style: normal;
}
.acc_on {
    display:block;
}
.acc_off {
    display: none;
}
.acc_arr {
    width: .8em;
    height: .8em;
    margin-left: .2em;
    vertical-align: middle;
}
.acc_header {
    /*background-color:#7A8054;*/
    cursor:pointer;
    color:#E3DB58;
    font-weight:bold;
    padding:0.2em;
}
#certstep_div li {
    margin-left:.5em;

}
#certstep_div li.radio {
    margin-bottom: 1em;
    border-bottom: 1px dotted;
}

#certstep_div li.radio > ol >  li > label {
    color:#907373;
    font-size :.75em;
}
#certstep_div li.radio > ol >  li {

    margin-bottom: .5em;
}


#certstep_div li.hidden {
    margin-bottom: 0em;
}

#certstep_div li.hidden {
    margin-bottom: 0em;
}

.gstep {
    display:block;
    font-style: italic;
    font-weight:bold;
    margin-bottom: .5em;
}

/** Search Form */
p.inline-hints { color:#666; margin:0; }
.search_div {
    padding-top: .75em;
    padding-bottom: .5em;
    border-bottom: 2px solid  #27292A;
}
.btn_search{
    margin-top:.5em;
    font-family: "Helvetica";
    font-size: 1em;
    color:#101010;

}
.query_div {
    /*border-bottom: 1px dotted;*/
    /*border-bottom-color: #aea2a2;*/
    padding-top: 1em;
    padding-bottom: .5em;
}

div.filter_div {
    padding-top: 1em;
    padding-right : .5em;
}
select {
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size:1em;
    line-height:16px;
    padding:0;
    margin:0;
}

.category_list li {
    list-style-type:decimal;
    list-style-position: outside;
}
.category_list li {
    display:block;
}
.scroll_div {
    overflow: auto;
}

.search_list_v {
    list-style-type: none;
}
.search_list {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    padding-left:0px;
}

.search_list li {
    display: inline;
    padding-left: 5px;
}



/* form elements */
.btn {
    background-color:#1F2122;
    border:medium none;
    color:white;
    font:12px Arial,sans-serif;
    padding:4px 17px;
    display:block;
}

table {
    vertical-align: middle;
    text-align: center;
}
table.tbl_index_table th, td {
    text-align: center;
    vertical-align: middle;
    border:solid 1px black;
}
table.tbl_index_table tr.tr_even_index_table {
    background-color: #e08f59;
}

table.tbl_index_table tr.tr_odd_index_table {
    background-color: white;
}

table.tbl_index_table th {
    background-color: #63583C;
    color:white;
}

table.tbl_index_table {
    border: solid 1px;
    width:90%;
    border-collapse:collapse;
}

select {
    background-image: url("/images/input_b.png");
    background-position:top;
    background-repeat: repeat-x;
    background-color: #ffffff;
    border: solid 1px #33677F;
    font-size:1em;
    font-family: helvetica;
}
select:focus {
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}
.inputArea:focus {
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

.inputArea 
{
    background-image: url("/images/input_b.png");
    background-position:top;
    background-repeat: repeat-x;
    background-color: #ffffff;
    border: solid 1px #33677F;
    font-size:1em;
    font-family: helvetica;
    margin: .5em 0 .5em 0;
}

.btnSearch {
    /*background-image: url("/images/header_b.png");*/
    /*background-repeat: repeat-x;*/
    color:white;
    font-weight: bold;
    background-color: #ff3366;
}

#attachment_list #pending_files{ 
    list-style:none;padding:0;
}
#attachment_list li { 
    padding:0 0 0.5em 21px;background:url('/images/attachment.png') no-repeat 0 2px;
}
#attachment_list li #remove { 
    margin-left:1em;
}

/*links*/

/* Events */
.event {
    padding:5px;
    border-bottom: 1px dotted #8b848f;
}

.blk {
    display:block;
}
.page_title {
    margin:1em 1em 1em 0;
}
.page_title_menu {
    margin:1em 1em 1em 0;
    display:block;
}
p.listing_description:first-letter {
    color:red;
    font-size: 2em;
}

/**gcertstep **/
.hor_list  {
    list-style-type: none;
}
/** LB **/
.lb {
    border-bottom:1px solid #27292A;
    padding: .3em 0 0 .3em;
}