/* 
    Document   : custom
    Created on : Feb 2, 2010, 9:53:49 AM
    Author     : amishra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*@font-face
{
    font-family: my_font;
    src: url('my_font.eot');
    src: local(my_font), url('my_font.ttf') format('opentype');
}*/

.bld {
    font-weight: bold;
}
#loading_inner {
    background:transparent url(/images/ajax-loader.gif) no-repeat scroll center center;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:100px;
    left:50%;
    line-height:normal;
    margin-left:-50px;
    margin-top:-50px;
    overflow:auto;
    padding:10px;
    position:fixed;
    text-align:center;
    top:50%;
    width:100px;
    z-index:2;
}
.bounding_border {
    border-left:0.4em solid black;
    border-right:0.4em solid black;
}
.content_container {
    border-top:0.4em solid black;
}
body {
    background-color:white;
    font-family: 'Droid Sans', Inconsolata,"Helvetica Neue",Arial,Helvetica,sans-serif !important;
    /*font-size:12px;*/
}
body a.action_link {
    color:#22D1E6;
    font-weight:bold;
    text-decoration:none;
}
.special_link {
    color: #C70A95 !important;
    font-size: 1.2em;
    font-weight: bold;
}
.special_link_big {
    color: #C70A95 !important;
    font-size: 2em;
    font-weight: bold;
}

/*.special_link:hover {
    color: #F27CD3;
}
.special_link_big:hover {
    color: #F27CD3;
}*/
label {
    color:#53ab24;
}
body a.action_link:hover {
    color:#7DDEEA;
}
body a.title_link {
    /*color:#E58610;*/
    color: #22D1E6;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
body a.title_link:hover {
    color:#F3AF5C;
}
body a {
    color:#13F08C;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}
body a:hover {
    color:#1FA30D !important;
}
.header a {
    color:#8F8F8F;
    text-decoration:none;
}

.header a:hover {
    color:#1FA30D;
}
.header_links li {
    display:inline;
}
.header_links_div {
    background-color:white;
    text-align:right;
}
.header_txt {
    color:black;
    font-size:4em;
    font-family: Molengo;
    padding-top:.1em;
    margin: 0;
    display: block;
}
.logo_link {
    color:black !important;
}
.logo_link:hover {
    color:#1FA30D !important;
}
.logo_msg {
    display: block;
    font-family: Molengo;
    color:#1FA30D;
}
.header_logo_div {
    background-color:white;
    color:black;
    border-bottom:0.2em solid #13F08C;
}
.header_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.login_links_div {
    border-top:0.2em solid #13F08C;
    text-align:right;
}
.login_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.login_links li {
    display:inline;
    padding-left:5px;
}
.main_links {
    display:inline;
    line-height:1.4em;
    margin:0;
    padding:.2em 0 .2em 0;
    white-space:nowrap;
}
.main_links li a {
    font-size:1.35em;
    padding:.3em 0.8em .3em .8em;
}
.main_links li a:hover {
    /*background:#13F08C none repeat scroll 0 0;*/
    background: black none repeat scroll 0 0;
    color:white;
    font-weight:bold;
}
.main_links li {
    display:inline;
}
.main_links_div {
    padding: .3em 0 .3em 0;
    background-color:white;
}
.content_container {
    background-color:white;
}
.content {
    background-color:white;
    /*border-right:1px solid;*/
    margin-right:0;
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.innertube {
    margin:5px 10px 10px;
}
.right_nav {
    background-color:white;
    /*padding-right:10px;*/
    padding-left:.5em;
    margin-bottom: 1em;
}
.right_nav_links li {
    display:inline;
}
.right_nav_links {
    display:inline;
    white-space:nowrap;
}
.left_nav {
    background-color:purple;
}
.left_nav_links li {
    display:inline;
}
.let_nav_links {
    display:inline;
    white-space:nowrap;
}
.left_links li {
    display:inline;
}
.footer {
    background:black none repeat scroll 0 0;
    height:10em;
    padding:4em 0 0;
    text-align:center;
}
.footer_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.footer_links li {
    display:inline;
}
.footer a {
    color:#8F8F8F;
    padding:0 0.4em;
    text-decoration:none;
}
.fieldWithErrors {
    background-color:red;
    display:inline;
    padding:2px;
}
.form_label {
    color:#222222;
    font-size:1em;
}


/**Button specific **/
.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

/*a.fg-button { float:right; }*/

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }


img.ui-icon {
  height: 16px;
  width: 16px;
  position: relative;
  display: inline;
}

/** End Button specific **/
/** For the map **/
#map_div_id {
    border:2px solid green;
    overflow:hidden;
}
/** End Map **/
/** Search Form **/
.option {
    /*font-size: .8em;*/
}
.search_input {
    width: 90%;
}
.no_left {
   margin-left: 0px;
   list-style-type: none;
   padding-left: 0px;
}
.search_elem_container {
    margin-top: 5px;
}
.keyword {
    padding-left: 1em;
}
.search_btn_container {
    margin-top: 28px;
}
.submit_link_button {
    /*float: right;*/
    padding-top:0px;
    padding-bottom: 0px;
    
}
.inline_list {
    padding: 0px;

}
.inline_list li {
    display:inline;
    padding-right: 3em;
}
.search_status {
    margin: .5em 1em .5em 1em;
    /*padding: 0 0 1em 0;*/
}

.refine_label {
    padding: .5em 1em .5em 1em;
    /*border:.1em solid #cbbbbb;*/
    border-top: 0;
}
.main_search_elems {
    /*padding:1em;*/
    margin-top: 1em;
    border-bottom:.1em solid #cbbbbb;
}
.refine {
    padding:1em;
}
.facet_filters {
        padding: 0 1em 0 1em;;
        /*border-bottom: 1px solid #cbbbbb;*/
}
.search_filters {
    padding: 0em 1em .5em 1em;;
}
div.search_form {
    /*margin-left: 1em;*/
}

.search_result_container {
    margin: .5em 1em .5em 1em;
    border-bottom:1px dotted #3e3d4e;
}
/** end Search Form **/
#event_categories_input legend {
    color:#222222;
    font-size:1em;
}
#event_event_date_input legend {
    color:#222222;
    font-size:1em;
}
.acc_h_on {
    background-color:#676C43;
    font-style:italic;
}
.acc_h_off {
    background-color:#7A8054;
    font-style:normal;
}
.acc_on {
    display:block;
}
.acc_off {
    display:none;
}
.acc_arr {
    height:0.8em;
    margin-left:0.2em;
    vertical-align:middle;
    width:0.8em;
}
.acc_header {
    color:#E3DB58;
    cursor:pointer;
    font-weight:bold;
    padding:0.2em;
}
#certstep_div li {
    margin-left:0.5em;
}
#certstep_div li.radio {
    border-bottom:1px dotted;
    margin-bottom:1em;
}
#certstep_div li.radio > ol > li > label {
    color:#907373;
    font-size:0.75em;
}
#certstep_div li.radio > ol > li {
    margin-bottom:0.5em;
}
#certstep_div li.hidden {
    margin-bottom:0;
}
#certstep_div li.hidden {
    margin-bottom:0;
}
.gstep {
    display:block;
    font-style:italic;
    font-weight:bold;
    margin-bottom:0.5em;
}
p.inline-hints {
    color:#666666;
    margin:0;
}
.search_div {
    border-bottom:2px solid #27292A;
    padding-bottom:0.5em;
    padding-top:0.75em;
}
.btn_search {
    color:#101010;
    font-size:1em;
    margin-top:0.5em;
}
.query_div {
    padding-bottom:0.5em;
    padding-top:1em;
}
div.filter_div {
    padding-right:0.5em;
    padding-top:1em;
}
select {
    font-size:1em;
    line-height:16px;
    margin:0;
    padding:0;
}
.category_list li {
    list-style-position:outside;
    list-style-type:decimal;
}
.category_list li {
    display:block;
}
.scroll_div {
    overflow:auto;
}
.search_list_v {
    list-style-type:none;
}
.search_list {
    display:inline;
    overflow:hidden;
    padding-left:0;
    white-space:nowrap;
}
.search_list li {
    display:inline;
    padding-left:5px;
}
.btn {
    -x-system-font:none;
    background-color:#1F2122;
    border:medium none;
    color:white;
    display:block;
    font-size:12px;
    /*font-size-adjust:none;*/
    /*font-stretch:normal;*/
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:4px 17px;
}
table {
    text-align:center;
    vertical-align:middle;
}
table.tbl_index_table th, td {
    border:1px solid black;
    text-align:center;
    vertical-align:middle;
}
table.tbl_index_table tr.tr_even_index_table {
    background-color:#E08F59;
}
table.tbl_index_table tr.tr_odd_index_table {
    background-color:white;
}
table.tbl_index_table th {
    background-color:#63583C;
    color:white;
}
table.tbl_index_table {
    border:1px solid;
    border-collapse:collapse;
    width:90%;
}
select {
    background-color:#FFFFFF;
    background-image:url(/images/input_b.png);
    /*background-position:center top;*/
    background-repeat:repeat-x;
    border:1px solid #33677F;
    font-size:1em;
}
select:focus {
    background-color:#FFFFFF;
    background-image:none;
    border:1px solid #33677F;
}
.inputArea:focus {
    background-color:#FFFFFF;
    background-image:none;
    border:1px solid #33677F;
}
.inputArea {
    background-color:#FFFFFF;
    background-image:url(/images/input_b.png);
    /*background-position:center top;*/
    background-repeat:repeat-x;
    border:1px solid #33677F;
    font-size:1em;
    margin:0.5em 0;
}
.btnSearch {
    background-color:#FF3366;
    color:white;
    font-weight:bold;
}
#attachment_list #pending_files {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:0;
}
#attachment_list li {
    background:transparent url(/images/attachment.png) no-repeat scroll 0 2px;
    padding:0 0 0.5em 21px;
}
#attachment_list li #remove {
    margin-left:1em;
}
.event {
    border-bottom:1px dotted #8B848F;
    padding:5px;
}
.blk {
    display:block;
}
.page_title {
    margin:1em 1em 1em 0;
    font-weight: bold;
}
.page_title_menu {
    display:block;
    margin:1em 1em 1em 0;
}
p.listing_description:first-letter {
    color:red;
    font-size:2em;
}
.hor_list {
    list-style-type:none;
}
.lb {
    border-bottom:1px solid #27292A;
    padding:0.3em 0 0 0.3em;
}

/* View Global*/
.ad_holder_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ad_placeholder {
    text-align: center;
    background-color: #ab9d9d;
    padding-top: 10em;
}
/* End View Global */
/* Home Views*/


#intro_container .ui-tabs .ui-tabs-nav li a  {
    /*font-size: 1.7em;*/
}
#intro_accordion .ui-accordion-header   {
    font-size: 1.3em;
}

#intro_accordion .ui-accordion-content {
    font-size: 1.2em;
}
#intro_accordion .ui-accordion-content a {
    color:#13F08C;
}
#intro_tabs_what p {
    font-size: 1.2em;

}
#intro_tabs_what p a {
    color:#13F08C;
}
.intro_header {
    /*padding:.1em 1em .1em 1em;*/
    margin: .3em;
    text-align: center;
    /*border:1px solid;*/
}

.intro_header h2 {
    font-weight: bold;
    margin: .05em;
    font-size: 1.5em;
}
.intro_container .tabs {
    height:320px;
    margin: 1em .5em 1em .5em;
}

.intro_sign_up {
    float: right;
    clear: both;
}


/* End Home View */

/* User Views */
ul.reg_choice {
    list-style-type: none;
}
/* End User Views */
