<div id="merchants_list" class ="span-17 prepend-1 last">
<% @merchants.each do |merchant| %>
  <%= render :partial => "merchant_preview", :locals => {:merchant => merchant} %>
<% end  %>
<%= will_paginate @merchants %>
</div>



