<script type="text/javascript">
  //<![CDATA[
  $j(document).ready(function() {
    if ($j('#toggle_refine')) {
      $j('#toggle_refine').bind('click', function() {
        $j('#refine').toggle('slow');
        label = $j(this).html();
        if (label == 'Refine Search &gt;') {
          $j(this).html('Refine Search &lt;');
          $j('#refine_open').val("true");
        } else {
          $j(this).html("Refine Search &gt;");
          $j('#refine_open').val("false");
        }
        return false;
      });
    }
    if ($j('#refine_open').val() == "true") {
      $j('#toggle_refine').click();
    }
    
    $j('#search_within').bind('change', function() {
      resetFilter();
      submitForm();
    });
    
    $j('#search_within, #search_order, #search_per_page').each(function() {
      $j(this).bind('change', function() {
        refreshResults($j(this));
      });
    });
  });

  function resetFilter() {
    $j('#filter_search').val("false");
  }

  function submitForm() {
    $("search_form").onsubmit();
  }
  function refreshResults(elem) {
    $('filter_search').value = "true";
    $("search_form").onsubmit();
  }
  //]]>
</script>
<% if local_assigns[:ajax].nil? %>
  <% ajax = false %>
<% end  %>
<% if local_assigns[:show_refine].nil? %>
  <% show_refine = false %>
<% end  %>
<% if local_assigns[:results].nil? %>
  <% show_refine = false %>
<% end  %>

<div id ="search_form_container" class="search_form_container span-24 last">
  <% if ajax  %>
    <% form_remote_for @search, :url => {:action => :search_set, :controller => :searches, :stype => stype}, :method => :get, :html => { :id => "search_form",  :method => :get}, :complete => "resetFilter();" do |f| %>
      <%= render :partial => "searches/form_content", :locals => {:results => results, :f => f , :show_refine => show_refine, :ajax => ajax, :stype => stype} %>
    <% end  %>
  <% else %>
    <% form_for @search, :url => {:action => :search_set,  :controller => :searches, :stype => stype}, :html => { :id => "search_form",  :method => :get} do |f| %>
      <%= render :partial => "searches/form_content", :locals => {:f => f, :show_refine => show_refine, :ajax => ajax, :stype => stype } %>
    <% end  %>
  <% end  %>
</div>