<h1>New merchantmembership</h1>

<% form_for(@merchantmembership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', merchantmemberships_path %>