<% page_title(t('lb.index.rewards')) %>
<h3 class="page_title">Your Green Rewards Program</h3>
<%= render :partial => "lbs_index", :locals => {:index_listing => true} %>
<% if @loyalty_benefits.size < 3 %>
  <div>
    <span class="blk"><%= link_to 'Create another reward level', new_merchant_loyalty_benefit_path(@merchant), :class => "action_link" %></span>
  </div>
<% end  %>
