<ul class="ad_holder_list">
  <li>
    <div class="ad_placeholder">
      <span>Advertise here</span>
    </div>
  </li>
  <li>
    <div class="ad_placeholder">
      <span>Advertise here</span>
    </div>
  </li>
  <li>
    <div class="ad_placeholder">
      <span>Advertise here</span>
    </div>
  </li>
</ul>
